[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad
